<h1>Productos Destacados</h1>

<ul>
  {{#each (limit products 5)}}
    <li>
      <a href="/products/{{this._id}}" class="text-blue-600 underline">
        {{this.title}}
      </a>
      - ${{this.price}}
      <button class="addToCartBtn" data-id="{{this._id}}">Agregar al carrito</button>
    </li>
  {{/each}}
</ul>

<script src="/productDetail.js"></script>